.container {
    margin: 32px auto;
    width: 80%;
    text-align: center;
}

.questionForm {
    margin: 36px 0;

    & .answerInput {
        width: 66%;
    }
}

// .footerButtons {
//     display: flex;
//     justify-content: space-around;
// }

ul {
    list-style: none;
}

.titles{
    display: flex;
    flex-wrap: wrap;
    padding: 0 20% 0 20%;
}

.titles li{
    width: 50%;
}
.cards{
    border-radius: 10px;
    background-color: #fff;
    margin: auto;
    width: 50%;
}

.cards, .backButton:hover{
    cursor: pointer;
    cursor: hand;
}

.card_info{
    border-top: 1px solid #000;
}

.backButton{
    color: #111;
    border: none;
    background-color: transparent;
    position: relative;
    left: 0;
    top: 0;
}  